.editorconfig export-ignore
.gitattributes export-ignore
.github export-ignore
.gitignore export-ignore
phpcs.xml export-ignore
phpstan.neon export-ignore
phpstan-exclude-paths.php export-ignore
phpstan-ignore-errors.php export-ignore
phpunit.xml export-ignore
tests/ export-ignore
