parameters:
	allowInRootDir: null
	filesRootDir: %allowInRootDir%
	disallowedNamespaces: []
	disallowedClasses: []
	disallowedMethodCalls: []
	disallowedStaticCalls: []
	disallowedFunctionCalls: []
	disallowedConstants: []
	disallowedEnums: []
	disallowedSuperglobals: []
	disallowedAttributes: []

parametersSchema:
	allowInRootDir: schema(string(), nullable())
	filesRootDir: schema(string(), nullable())
	disallowedNamespaces: listOf(
		structure([
			?namespace: anyOf(string(), listOf(string())),
			?class: anyOf(string(), listOf(string())),
			?exclude: anyOf(string(), listOf(string())),
			?message: string(),
			?allowIn: listOf(string()),
			?allowExceptIn: listOf(string()),
			?disallowIn: listOf(string()),
			?errorIdentifier: string(),
			?errorTip: string(),
		])
	)
	disallowedClasses: listOf(
		structure([
			?namespace: anyOf(string(), listOf(string())),
			?class: anyOf(string(), listOf(string())),
			?exclude: anyOf(string(), listOf(string())),
			?message: string(),
			?allowIn: listOf(string()),
			?allowExceptIn: listOf(string()),
			?disallowIn: listOf(string()),
			?errorIdentifier: string(),
			?errorTip: string(),
		])
	)
	disallowedMethodCalls: listOf(
		structure([
			?function: anyOf(string(), listOf(string())),
			?method: anyOf(string(), listOf(string())),
			?exclude: anyOf(string(), listOf(string())),
			?definedIn: anyOf(string(), listOf(string())),
			?message: string(),
			?allowIn: listOf(string()),
			?allowExceptIn: listOf(string()),
			?disallowIn: listOf(string()),
			?allowInFunctions: listOf(string()),
			?allowInMethods: listOf(string()),
			?allowExceptInFunctions: listOf(string()),
			?allowExceptInMethods: listOf(string()),
			?disallowInFunctions: listOf(string()),
			?disallowInMethods: listOf(string()),
			?allowParamsInAllowed: arrayOf(anyOf(int(), string(), bool(), structure([position: int(), ?value: anyOf(int(), string(), bool()), ?typeString: string(), ?name: string()])), anyOf(int(), string())),
			?allowParamsInAllowedAnyValue: arrayOf(anyOf(int(), structure([position: int(), ?name: string()])), anyOf(int(), string())),
			?allowParamFlagsInAllowed: arrayOf(anyOf(int(), structure([position: int(), ?value: int(), ?typeString: string(), ?name: string()])), anyOf(int(), string())),
			?allowParamsAnywhere: arrayOf(anyOf(int(), string(), bool(), structure([position: int(), ?value: anyOf(int(), string(), bool()), ?typeString: string(), ?name: string()])), anyOf(int(), string())),
			?allowParamsAnywhereAnyValue: arrayOf(anyOf(int(), structure([position: int(), ?name: string()])), anyOf(int(), string())),
			?allowParamFlagsAnywhere: arrayOf(anyOf(int(), structure([position: int(), ?value: int(), ?typeString: string(), ?name: string()])), anyOf(int(), string())),
			?allowExceptParamsInAllowed: arrayOf(anyOf(int(), string(), bool(), structure([position: int(), ?value: anyOf(int(), string(), bool()), ?typeString: string(), ?name: string()])), anyOf(int(), string())),
			?allowExceptParamFlagsInAllowed: arrayOf(anyOf(int(), structure([position: int(), ?value: int(), ?typeString: string(), ?name: string()])), anyOf(int(), string())),
			?disallowParamFlagsInAllowed: arrayOf(anyOf(int(), structure([position: int(), ?value: int(), ?typeString: string(), ?name: string()])), anyOf(int(), string())),
			?disallowParamsInAllowed: arrayOf(anyOf(int(), string(), bool(), structure([position: int(), ?value: anyOf(int(), string(), bool()), ?typeString: string(), ?name: string()])), anyOf(int(), string())),
			?allowExceptParams: arrayOf(anyOf(int(), string(), bool(), structure([position: int(), ?value: anyOf(int(), string(), bool()), ?typeString: string(), ?name: string()])), anyOf(int(), string())),
			?disallowParams: arrayOf(anyOf(int(), string(), bool(), structure([position: int(), ?value: anyOf(int(), string(), bool()), ?typeString: string(), ?name: string()])), anyOf(int(), string())),
			?allowExceptParamsAnyValue: arrayOf(anyOf(int(), structure([position: int(), ?name: string()])), anyOf(int(), string())),
			?disallowParamsAnyValue: arrayOf(anyOf(int(), structure([position: int(), ?name: string()])), anyOf(int(), string())),
			?allowExceptParamFlags: arrayOf(anyOf(int(), structure([position: int(), ?value: int(), ?typeString: string(), ?name: string()])), anyOf(int(), string())),
			?disallowParamFlags: arrayOf(anyOf(int(), structure([position: int(), ?value: int(), ?typeString: string(), ?name: string()])), anyOf(int(), string())),
			?allowExceptCaseInsensitiveParams: arrayOf(anyOf(int(), string(), bool(), structure([position: int(), ?value: anyOf(int(), string(), bool()), ?typeString: string(), ?name: string()])), anyOf(int(), string())),
			?disallowCaseInsensitiveParams: arrayOf(anyOf(int(), string(), bool(), structure([position: int(), ?value: anyOf(int(), string(), bool()), ?typeString: string(), ?name: string()])), anyOf(int(), string())),
			?errorIdentifier: string(),
			?errorTip: string(),
		])
	)
	disallowedStaticCalls: listOf(
		structure([
			?function: anyOf(string(), listOf(string())),
			?method: anyOf(string(), listOf(string())),
			?exclude: anyOf(string(), listOf(string())),
			?definedIn: anyOf(string(), listOf(string())),
			?message: string(),
			?allowIn: listOf(string()),
			?allowExceptIn: listOf(string()),
			?disallowIn: listOf(string()),
			?allowInFunctions: listOf(string()),
			?allowInMethods: listOf(string()),
			?allowExceptInFunctions: listOf(string()),
			?allowExceptInMethods: listOf(string()),
			?disallowInFunctions: listOf(string()),
			?disallowInMethods: listOf(string()),
			?allowParamsInAllowed: arrayOf(anyOf(int(), string(), bool(), structure([position: int(), ?value: anyOf(int(), string(), bool()), ?typeString: string(), ?name: string()])), anyOf(int(), string())),
			?allowParamsInAllowedAnyValue: arrayOf(anyOf(int(), structure([position: int(), ?name: string()])), anyOf(int(), string())),
			?allowParamFlagsInAllowed: arrayOf(anyOf(int(), structure([position: int(), ?value: int(), ?typeString: string(), ?name: string()])), anyOf(int(), string())),
			?allowParamsAnywhere: arrayOf(anyOf(int(), string(), bool(), structure([position: int(), ?value: anyOf(int(), string(), bool()), ?typeString: string(), ?name: string()])), anyOf(int(), string())),
			?allowParamsAnywhereAnyValue: arrayOf(anyOf(int(), structure([position: int(), ?name: string()])), anyOf(int(), string())),
			?allowParamFlagsAnywhere: arrayOf(anyOf(int(), structure([position: int(), ?value: int(), ?typeString: string(), ?name: string()])), anyOf(int(), string())),
			?allowExceptParamsInAllowed: arrayOf(anyOf(int(), string(), bool(), structure([position: int(), ?value: anyOf(int(), string(), bool()), ?typeString: string(), ?name: string()])), anyOf(int(), string())),
			?allowExceptParamFlagsInAllowed: arrayOf(anyOf(int(), structure([position: int(), ?value: int(), ?typeString: string(), ?name: string()])), anyOf(int(), string())),
			?disallowParamFlagsInAllowed: arrayOf(anyOf(int(), structure([position: int(), ?value: int(), ?typeString: string(), ?name: string()])), anyOf(int(), string())),
			?disallowParamsInAllowed: arrayOf(anyOf(int(), string(), bool(), structure([position: int(), ?value: anyOf(int(), string(), bool()), ?typeString: string(), ?name: string()])), anyOf(int(), string())),
			?allowExceptParams: arrayOf(anyOf(int(), string(), bool(), structure([position: int(), ?value: anyOf(int(), string(), bool()), ?typeString: string(), ?name: string()])), anyOf(int(), string())),
			?disallowParams: arrayOf(anyOf(int(), string(), bool(), structure([position: int(), ?value: anyOf(int(), string(), bool()), ?typeString: string(), ?name: string()])), anyOf(int(), string())),
			?allowExceptParamsAnyValue: arrayOf(anyOf(int(), structure([position: int(), ?name: string()])), anyOf(int(), string())),
			?disallowParamsAnyValue: arrayOf(anyOf(int(), structure([position: int(), ?name: string()])), anyOf(int(), string())),
			?allowExceptParamFlags: arrayOf(anyOf(int(), structure([position: int(), ?value: int(), ?typeString: string(), ?name: string()])), anyOf(int(), string())),
			?disallowParamFlags: arrayOf(anyOf(int(), structure([position: int(), ?value: int(), ?typeString: string(), ?name: string()])), anyOf(int(), string())),
			?allowExceptCaseInsensitiveParams: arrayOf(anyOf(int(), string(), bool(), structure([position: int(), ?value: anyOf(int(), string(), bool()), ?typeString: string(), ?name: string()])), anyOf(int(), string())),
			?disallowCaseInsensitiveParams: arrayOf(anyOf(int(), string(), bool(), structure([position: int(), ?value: anyOf(int(), string(), bool()), ?typeString: string(), ?name: string()])), anyOf(int(), string())),
			?errorIdentifier: string(),
			?errorTip: string(),
		])
	)
	disallowedFunctionCalls: listOf(
		structure([
			?function: anyOf(string(), listOf(string())),
			?method: anyOf(string(), listOf(string())),
			?exclude: anyOf(string(), listOf(string())),
			?definedIn: anyOf(string(), listOf(string())),
			?message: string(),
			?allowIn: listOf(string()),
			?allowExceptIn: listOf(string()),
			?disallowIn: listOf(string()),
			?allowInFunctions: listOf(string()),
			?allowInMethods: listOf(string()),
			?allowExceptInFunctions: listOf(string()),
			?allowExceptInMethods: listOf(string()),
			?disallowInFunctions: listOf(string()),
			?disallowInMethods: listOf(string()),
			?allowParamsInAllowed: arrayOf(anyOf(int(), string(), bool(), structure([position: int(), ?value: anyOf(int(), string(), bool()), ?typeString: string(), ?name: string()])), anyOf(int(), string())),
			?allowParamsInAllowedAnyValue: arrayOf(anyOf(int(), structure([position: int(), ?name: string()])), anyOf(int(), string())),
			?allowParamFlagsInAllowed: arrayOf(anyOf(int(), structure([position: int(), ?value: int(), ?typeString: string(), ?name: string()])), anyOf(int(), string())),
			?allowParamsAnywhere: arrayOf(anyOf(int(), string(), bool(), structure([position: int(), ?value: anyOf(int(), string(), bool()), ?typeString: string(), ?name: string()])), anyOf(int(), string())),
			?allowParamsAnywhereAnyValue: arrayOf(anyOf(int(), structure([position: int(), ?name: string()])), anyOf(int(), string())),
			?allowParamFlagsAnywhere: arrayOf(anyOf(int(), structure([position: int(), ?value: int(), ?typeString: string(), ?name: string()])), anyOf(int(), string())),
			?allowExceptParamsInAllowed: arrayOf(anyOf(int(), string(), bool(), structure([position: int(), ?value: anyOf(int(), string(), bool()), ?typeString: string(), ?name: string()])), anyOf(int(), string())),
			?allowExceptParamFlagsInAllowed: arrayOf(anyOf(int(), structure([position: int(), ?value: int(), ?typeString: string(), ?name: string()])), anyOf(int(), string())),
			?disallowParamFlagsInAllowed: arrayOf(anyOf(int(), structure([position: int(), ?value: int(), ?typeString: string(), ?name: string()])), anyOf(int(), string())),
			?disallowParamsInAllowed: arrayOf(anyOf(int(), string(), bool(), structure([position: int(), ?value: anyOf(int(), string(), bool()), ?typeString: string(), ?name: string()])), anyOf(int(), string())),
			?allowExceptParams: arrayOf(anyOf(int(), string(), bool(), structure([position: int(), ?value: anyOf(int(), string(), bool()), ?typeString: string(), ?name: string()])), anyOf(int(), string())),
			?disallowParams: arrayOf(anyOf(int(), string(), bool(), structure([position: int(), ?value: anyOf(int(), string(), bool()), ?typeString: string(), ?name: string()])), anyOf(int(), string())),
			?allowExceptParamsAnyValue: arrayOf(anyOf(int(), structure([position: int(), ?name: string()])), anyOf(int(), string())),
			?disallowParamsAnyValue: arrayOf(anyOf(int(), structure([position: int(), ?name: string()])), anyOf(int(), string())),
			?allowExceptParamFlags: arrayOf(anyOf(int(), structure([position: int(), ?value: int(), ?typeString: string(), ?name: string()])), anyOf(int(), string())),
			?disallowParamFlags: arrayOf(anyOf(int(), structure([position: int(), ?value: int(), ?typeString: string(), ?name: string()])), anyOf(int(), string())),
			?allowExceptCaseInsensitiveParams: arrayOf(anyOf(int(), string(), bool(), structure([position: int(), ?value: anyOf(int(), string(), bool()), ?typeString: string(), ?name: string()])), anyOf(int(), string())),
			?disallowCaseInsensitiveParams: arrayOf(anyOf(int(), string(), bool(), structure([position: int(), ?value: anyOf(int(), string(), bool()), ?typeString: string(), ?name: string()])), anyOf(int(), string())),
			?errorIdentifier: string(),
			?errorTip: string(),
		])
	)
	disallowedConstants: listOf(
		structure([
			?class: string(),
			constant: anyOf(string(), listOf(string())),
			?message: string(),
			?allowIn: listOf(string()),
			?allowExceptIn: listOf(string()),
			?disallowIn: listOf(string()),
			?errorIdentifier: string(),
			?errorTip: string(),
		])
	)
	disallowedEnums: listOf(
		structure([
			enum: string(),
			case: anyOf(string(), listOf(string())),
			?allowIn: listOf(string()),
			?allowExceptIn: listOf(string()),
			?disallowIn: listOf(string()),
			?errorIdentifier: string(),
			?errorTip: string(),
		])
	)
	disallowedSuperglobals: listOf(
		structure([
			?superglobal: anyOf(string(), listOf(string())),
			?message: string(),
			?allowIn: listOf(string()),
			?allowExceptIn: list(string()),
			?disallowIn: list(string()),
			?errorIdentifier: string(),
			?errorTip: string(),
		])
	)
	disallowedAttributes: listOf(
		structure([
			attribute: anyOf(string(), listOf(string())),
			?exclude: anyOf(string(), listOf(string())),
			?message: string(),
			?allowIn: listOf(string()),
			?allowExceptIn: listOf(string()),
			?disallowIn: listOf(string()),
			?allowInFunctions: listOf(string()),
			?allowInMethods: listOf(string()),
			?allowExceptInFunctions: listOf(string()),
			?allowExceptInMethods: listOf(string()),
			?disallowInFunctions: listOf(string()),
			?disallowInMethods: listOf(string()),
			?allowParamsInAllowed: arrayOf(anyOf(int(), string(), bool(), structure([position: int(), ?value: anyOf(int(), string(), bool()), ?typeString: string(), ?name: string()])), anyOf(int(), string())),
			?allowParamsInAllowedAnyValue: arrayOf(anyOf(int(), structure([position: int(), ?name: string()])), anyOf(int(), string())),
			?allowParamFlagsInAllowed: arrayOf(anyOf(int(), structure([position: int(), ?value: int(), ?typeString: string(), ?name: string()])), anyOf(int(), string())),
			?allowParamsAnywhere: arrayOf(anyOf(int(), string(), bool(), structure([position: int(), ?value: anyOf(int(), string(), bool()), ?typeString: string(), ?name: string()])), anyOf(int(), string())),
			?allowParamsAnywhereAnyValue: arrayOf(anyOf(int(), structure([position: int(), ?name: string()])), anyOf(int(), string())),
			?allowParamFlagsAnywhere: arrayOf(anyOf(int(), structure([position: int(), ?value: int(), ?typeString: string(), ?name: string()])), anyOf(int(), string())),
			?allowExceptParamsInAllowed: arrayOf(anyOf(int(), string(), bool(), structure([position: int(), ?value: anyOf(int(), string(), bool()), ?typeString: string(), ?name: string()])), anyOf(int(), string())),
			?allowExceptParamFlagsInAllowed: arrayOf(anyOf(int(), structure([position: int(), ?value: int(), ?typeString: string(), ?name: string()])), anyOf(int(), string())),
			?disallowParamFlagsInAllowed: arrayOf(anyOf(int(), structure([position: int(), ?value: int(), ?typeString: string(), ?name: string()])), anyOf(int(), string())),
			?disallowParamsInAllowed: arrayOf(anyOf(int(), string(), bool(), structure([position: int(), ?value: anyOf(int(), string(), bool()), ?typeString: string(), ?name: string()])), anyOf(int(), string())),
			?allowExceptParams: arrayOf(anyOf(int(), string(), bool(), structure([position: int(), ?value: anyOf(int(), string(), bool()), ?typeString: string(), ?name: string()])), anyOf(int(), string())),
			?disallowParams: arrayOf(anyOf(int(), string(), bool(), structure([position: int(), ?value: anyOf(int(), string(), bool()), ?typeString: string(), ?name: string()])), anyOf(int(), string())),
			?allowExceptParamsAnyValue: arrayOf(anyOf(int(), structure([position: int(), ?name: string()])), anyOf(int(), string())),
			?disallowParamsAnyValue: arrayOf(anyOf(int(), structure([position: int(), ?name: string()])), anyOf(int(), string())),
			?allowExceptParamFlags: arrayOf(anyOf(int(), structure([position: int(), ?value: int(), ?typeString: string(), ?name: string()])), anyOf(int(), string())),
			?disallowParamFlags: arrayOf(anyOf(int(), structure([position: int(), ?value: int(), ?typeString: string(), ?name: string()])), anyOf(int(), string())),
			?allowExceptCaseInsensitiveParams: arrayOf(anyOf(int(), string(), bool(), structure([position: int(), ?value: anyOf(int(), string(), bool()), ?typeString: string(), ?name: string()])), anyOf(int(), string())),
			?disallowCaseInsensitiveParams: arrayOf(anyOf(int(), string(), bool(), structure([position: int(), ?value: anyOf(int(), string(), bool()), ?typeString: string(), ?name: string()])), anyOf(int(), string())),
			?errorIdentifier: string(),
			?errorTip: string(),
		])
	)

services:
	- Spaze\PHPStan\Rules\Disallowed\Allowed\Allowed
	- Spaze\PHPStan\Rules\Disallowed\Allowed\AllowedPath
	- Spaze\PHPStan\Rules\Disallowed\DisallowedAttributeFactory
	- Spaze\PHPStan\Rules\Disallowed\DisallowedCallFactory
	- Spaze\PHPStan\Rules\Disallowed\DisallowedConstantFactory
	- Spaze\PHPStan\Rules\Disallowed\DisallowedNamespaceFactory
	- Spaze\PHPStan\Rules\Disallowed\DisallowedSuperglobalFactory
	- Spaze\PHPStan\Rules\Disallowed\File\FilePath(rootDir: %filesRootDir%)
	- Spaze\PHPStan\Rules\Disallowed\Formatter\Formatter
	- Spaze\PHPStan\Rules\Disallowed\Identifier\Identifier
	- Spaze\PHPStan\Rules\Disallowed\Normalizer\Normalizer
	- Spaze\PHPStan\Rules\Disallowed\RuleErrors\DisallowedAttributeRuleErrors
	- Spaze\PHPStan\Rules\Disallowed\RuleErrors\DisallowedConstantRuleErrors
	- Spaze\PHPStan\Rules\Disallowed\RuleErrors\DisallowedMethodRuleErrors
	- Spaze\PHPStan\Rules\Disallowed\RuleErrors\DisallowedNamespaceRuleErrors
	- Spaze\PHPStan\Rules\Disallowed\RuleErrors\DisallowedCallsRuleErrors
	- Spaze\PHPStan\Rules\Disallowed\RuleErrors\DisallowedVariableRuleErrors
	- Spaze\PHPStan\Rules\Disallowed\Type\TypeResolver
	-
		factory: Spaze\PHPStan\Rules\Disallowed\Usages\NamespaceUsages(forbiddenNamespaces: %disallowedNamespaces%)
		tags:
			- phpstan.rules.rule
	-
		factory: Spaze\PHPStan\Rules\Disallowed\Usages\NamespaceUsages(forbiddenNamespaces: %disallowedClasses%)
		tags:
			- phpstan.rules.rule
	-
		factory: Spaze\PHPStan\Rules\Disallowed\Calls\MethodCalls(forbiddenCalls: %disallowedMethodCalls%)
		tags:
			- phpstan.rules.rule
	-
		factory: Spaze\PHPStan\Rules\Disallowed\Calls\NewCalls(forbiddenCalls: %disallowedMethodCalls%)
		tags:
			- phpstan.rules.rule
	-
		factory: Spaze\PHPStan\Rules\Disallowed\Calls\StaticCalls(forbiddenCalls: %disallowedStaticCalls%)
		tags:
			- phpstan.rules.rule
	-
		factory: Spaze\PHPStan\Rules\Disallowed\Calls\EvalCalls(forbiddenCalls: %disallowedFunctionCalls%)
		tags:
			- phpstan.rules.rule
	-
		factory: Spaze\PHPStan\Rules\Disallowed\Calls\EchoCalls(forbiddenCalls: %disallowedFunctionCalls%)
		tags:
			- phpstan.rules.rule
	-
		factory: Spaze\PHPStan\Rules\Disallowed\Calls\PrintCalls(forbiddenCalls: %disallowedFunctionCalls%)
		tags:
			- phpstan.rules.rule
	-
		factory: Spaze\PHPStan\Rules\Disallowed\Calls\EmptyCalls(forbiddenCalls: %disallowedFunctionCalls%)
		tags:
			- phpstan.rules.rule
	-
		factory: Spaze\PHPStan\Rules\Disallowed\Calls\ExitDieCalls(forbiddenCalls: %disallowedFunctionCalls%)
		tags:
			- phpstan.rules.rule
	-
		factory: Spaze\PHPStan\Rules\Disallowed\Calls\FunctionCalls(forbiddenCalls: %disallowedFunctionCalls%)
		tags:
			- phpstan.rules.rule
	-
		factory: Spaze\PHPStan\Rules\Disallowed\Calls\ShellExecCalls(forbiddenCalls: %disallowedFunctionCalls%)
		tags:
			- phpstan.rules.rule
	-
		factory: Spaze\PHPStan\Rules\Disallowed\Usages\ConstantUsages(disallowedConstants: %disallowedConstants%)
		tags:
			- phpstan.rules.rule
	classConstantUsages:
		factory: Spaze\PHPStan\Rules\Disallowed\Usages\ClassConstantUsages(disallowedConstants: %disallowedConstants%)
		tags:
			- phpstan.rules.rule
	-
		factory: Spaze\PHPStan\Rules\Disallowed\Usages\ClassConstantUsages(disallowedConstants: %disallowedEnums%)
		tags:
			- phpstan.rules.rule
	-
		factory: Spaze\PHPStan\Rules\Disallowed\Usages\VariableUsages(disallowedVariables: @Spaze\PHPStan\Rules\Disallowed\DisallowedSuperglobalFactory::getDisallowedVariables(%disallowedSuperglobals%))
		tags:
			- phpstan.rules.rule
	-
		factory: Spaze\PHPStan\Rules\Disallowed\Usages\AttributeUsages(disallowedAttributes: %disallowedAttributes%)
		tags:
			- phpstan.rules.rule
