parameters:
	customRulesetUsed: true
	reportUnmatchedIgnoredErrors: false
	paths:
		- src
	ignoreErrors:
		-
			identifier: shipmonk.deadMethod # Used in extension.neon
			paths:
				- src/DisallowedSuperglobalFactory.php
				- src/DisallowedControlStructureFactory.php
			reportUnmatched: true

includes:
	- extension.neon
	- vendor/shipmonk/dead-code-detector/rules.neon
