parameters:
	customRulesetUsed: true
	reportUnmatchedIgnoredErrors: false
	paths:
		- src
		- tests
	excludePaths:
		analyse:
			- tests/src

includes:
	- extension.neon
	- vendor/shipmonk/dead-code-detector/rules.neon
