<?xml version="1.0"?>
<phpunit
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
		bootstrap="bootstrap.php"
		colors="true"
		backupGlobals="false"
		backupStaticAttributes="false"
		beStrictAboutChangesToGlobalState="true"
		beStrictAboutOutputDuringTests="true"
		beStrictAboutTestsThatDoNotTestAnything="true"
		beStrictAboutTodoAnnotatedTests="true"
		failOnRisky="true"
		failOnWarning="true"
>
	<coverage>
		<include>
			<directory suffix=".php">../src</directory>
		</include>
		<report>
			<html outputDirectory="tmp/report" lowUpperBound="35" highLowerBound="70"/>
		</report>
	</coverage>
	<logging/>
</phpunit>
