name: PHP Tests

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        php-version:
          - 7.1
          - 7.2
          - 7.3
          - 7.4

    steps:
    - uses: actions/checkout@v2

    - name: Display OS info
      run: cat /etc/os-release

    - name: Set default PHP version
      run: sudo update-alternatives --set php /usr/bin/php${{ matrix.php-version }}

    - name: Display PHP info
      run: |
        php -v
        php -m
    - name: Validate composer.json
      run: composer validate --strict

    - name: Install dependencies
      run: composer update --no-progress

    - name: Run tests
      run: composer test
